header{
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
/********** top *******/

header .top{
  width: 100%;
  display: flex;
  height: 40px;
  background-color: #5d88ea;
  max-width: 1500px;
}
header .top .topLogo{
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  display: none;
}
header .top .topLogo img{
  height: 100%;
  object-fit: cover;
  width: 200px;
}
header .top nav{
  width: 100%;
  height: 100%;
}
header .top nav .nav-list{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .top nav .nav-list li{
  list-style: none;
  transition: all 0.15s;
  margin-left: 50px;
}
header .top nav .nav-list li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.15s;
}
header .top nav .nav-list li a:hover{
  color: white;
  background-color: black;
  padding: 5px;
}

/********* bottom **********/

header .bottom{
  width: 100%;
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid black;
  display: flex;
  background-color: white;
  max-width: 1500px;
}
/***********logo image ********/
header .bottom .logo img{
  width: 250px;
  height: 60px;
  object-fit: cover;
}
header .bottom nav{
  flex-grow: 1;
  height: 100%;
}
header .bottom nav .bottom-nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .bottom nav .bottom-nav li{
  list-style: none;
  margin-left: 50px;
}
header .bottom nav .bottom-nav li a{
  color: #828282;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.15s;
}
header .bottom nav .bottom-nav li a:hover{
  color: black;
}
@media (max-width: 500px) {
  header{
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
  }
  header .top .topLogo{
    display: flex;
  }
  /********** top *******/

  header .top{
    width: 100%;
    height: 56px;
    background-color: #2d80c4;
  }

  header .top nav{
    width: 100%;
    height: 100%;
    display: none;
  }
  header .top nav .nav-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header .top nav .nav-list li{
    list-style: none;
    transition: all 0.15s;
    margin-left: 50px;
  }
  header .top nav .nav-list li a{
    text-decoration: none;
    color: rgb(1, 4, 6);
    font-weight: bold;
    transition: all 0.15s;
  }
  header .top nav .nav-list li a:hover{
    color: white;
    background-color: black;
    padding: 5px;
  }

  /********* bottom **********/

  header .bottom{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    display: flex;
    background-color: white;
  }
  /***********logo image ********/
  header .bottom .logo img{
    width: 250px;
    height: 60px;
    object-fit: cover;
    display: none;
  }
  header .bottom nav{
    width: 100%;
    height: 100%;
  }
  header .bottom nav .bottom-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding: 0px 10px;
  }
  header .bottom nav .bottom-nav li{
    list-style: none;
    margin-left: 50px;
    min-width: max-content;
  }
  header .bottom nav .bottom-nav li a{
    color: rgba(0, 0, 0, 0.653);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.15s;
  }
  header .bottom nav .bottom-nav li a:hover{
    color: black;
  }
}